.profile-pic{max-width: 100%;}
.kangnoos {max-width: 100%}
.custom-progress-bar-green{background-color: green}
.koala{max-width: 100%}
.koalaback{background-color: #d4f4fc}
.bodyback {background-color: #e0cff7}
.alltext {font-family: Chalkduster}
img{padding:1px;
   border:1px solid #021a40;}
.header{background-color: #e0fcf1}
.spaceup{margin-top: 5px; margin-bottom: 5px}
.spacedown{margin-bottom: 10px}
.custom-nav {background-color: #e0cff7;}
